.font {
    font-family: 'Material Symbols Outlined';
    font-size: 18px;
}

.bold {
    font-weight: 700;
}

.iconContainer {
    border-style: none;
    color: var(--text-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.primary {
    background-color: var(--text-inactive);
}

.secondary {
    background-color: inherit;
    font-weight: bold;
}

.secondary:hover {
    color: var(--text-inactive)
}

.iconContainer.primary:hover {
    background-color: var(--text-color);
    color: var(--text-dark);
}
