.container {
    display: grid;
    grid-template-columns: repeat(2, 318px);
    width: fit-content;
    column-gap: 5em;
    row-gap: 2em;
}

@media(max-width: 1100px) {
    .container {
        flex-direction: column;
        grid-template-columns: repeat(1, 318px);
        width: fit-content;
    }
  }
