.aside {
    background-color: var(--component-bg);
    height: 100%;
    position: fixed;
    width: 350px;
}

.hidden {
    display: none;
}

.show {
    z-index: 1;
    position: absolute;
}

.searchInput {
    padding: 2em;
    display: flex;
    width: calc(100% - 4em);
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    list-style: none;
    padding: 2em;
}

.closeBtn {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.head {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 25%;
}

.imgContainer {
    width: 130px;
    object-fit: contain;
    overflow: hidden;
}

.bgImg {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('/images/Cloud-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25%;
}

.temperatureContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 25%;
}

.temperature {
    font-size: 104px;
    font-weight: 500;
    color: var(--text-color);
}

.unit {
    font-size: 48px;
    font-weight: 500;
    color: var(--text-inactive)
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    gap: 0.5em;
    color: var(--text-inactive);
    font-size: 18px;
    height: 25%;
}

.fontIcon {
    font-family: 'Material Symbols Outlined';
}
