.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
    background-color: var(--component-bg);
    color: var(--text-color);
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 175px;
}

.centerImg {
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}